<div class="modal fade" id="passwordModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{modalHeader}}</h3>
                    </div>
                    <br>
                    <form class="form-horizontal" style="margin-left: 20px; margin-right: 20px;">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Old Password:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" ng-model="settingsUser.oldPassword" required/><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">New Password:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" ng-model="settingsUser.newPassword" required/><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Repeat Password:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" ng-model="settingsUser.repeatPassword" required/><br>
                            </div>
                        </div>
                    </form>
                    <div ng-show="passwordError.length" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" ng-click="passwordError = null">&times;</button>
                        {{passwordError}}
                    </div>
                    <div class="modal-footer">
                        <div style="text-align: center;">
                            <button type="button" class="btn btn-primary" ng-click="closePasswordModal()" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-click="submitPassword(settingsUser)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
