<!doctype html>
<html lang="en">
<head>
	<title>CompleteConceptStrength Login</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<script src="bower_components/angular/angular.min.js"></script>
 	<script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/store.js/store.min.js"></script>
 	<script src="scripts/services/user.js"></script>
	<script src="scripts/controllers/index.js"></script>

	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="styles/main.css" rel="stylesheet" type="text/css">
	<link href="styles/index.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="indexModule" ng-controller="indexCtrl">
    <div class="container flexible" id="gradient">
        <div class="row col-sm-4 rounded-block">
            <h1 class="row">Complete Concept Strength Login</h1><br/>
    
            <form name="loginForm" role="form">
                <input type="text" placeholder="Email" name="email" ng-model="user.email" required/><br/><br/>
                <input type="password" placeholder="Password" name="password" ng-model="user.password" required/><br/>
                <label><input type="checkbox"> Remember Me!</label><br/>
                <input type="submit" class="btn btn-primary" ng-click="login(user)" value="Login"/><br/><br/>
                <div ng-show="error.length" class="alert alert-danger alert-dismissable fade in">
                	<button type="button" class="close" ng-click="error = null">&times;</button>
                    {{error}}
                </div>
            </form> 
            
            <b><a href="register.html">No Account? Register Now!</a><br/></b>
        </div>
    </div>
</body>
</html>
