<!doctype html>
<html lang="en">
<head>
	<title>CompleteConceptStrength Registration Page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<script src="bower_components/angular/angular.js"></script>
 	<script src="bower_components/angular-route/angular-route.js"></script>
 	<script src="scripts/main.js"></script>
 	<script src="scripts/services/user.js"></script>
	<script src="scripts/controllers/user.js"></script>

	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="styles/index.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container flexible" id="gradient">
        <div class="row col-sm-4 rounded-block">
            <h1 class="row">Complete Concept Strength Registration</h1><br/>
    
            <form name="registerForm" ng-app="completeConceptStrength" ng-controller="userCtrl">
				<input type="text" placeholder="First Name" name="firstName" ng-model="user.firstName"/><br/><br/>
				<input type="text" placeholder="Last Name" name="lastName" ng-model="user.lastName"/><br/><br/>
				<input type="text" placeholder="Email" name="email" ng-model="user.email"/><br/><br/>
				<input type="password" placeholder="Password" name="password" ng-model="user.password"/><br/><br/>
				<input type="text" placeholder="Organization (optional)" name="organization" ng-model="user.organization"/><br/>
				<input type="radio" ng-model="user.userType" value="ATHLETE" checked />Athlete<br/>
				<input type="radio" ng-model="user.userType" value="COACH"/>Trainer<br/>
				<input type="button" class="btn btn-primary" ng-click="register(user)" value="Register"/><br/><br/>
                <p class="error">{{error}}</p>
			</form> 
            
            <b><a href="login.html">Login page</a><br/></b> 
        </div>
    </div>
</body>
</html> 