<!doctype html>
<html lang="en">
<head>
	<title>CompleteConceptStrength Registration Page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<script src="bower_components/angular/angular.min.js"></script>
 	<script src="bower_components/angular-route/angular-route.min.js"></script>
 	<script src="scripts/app.js"></script>
 	<script src="scripts/services/user.js"></script>
	<script src="scripts/controllers/index.js"></script>

	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="styles/main.css" rel="stylesheet" type="text/css">
	<link href="styles/index.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="indexModule" ng-controller="indexCtrl" ng-init="registerLoad()">
	<div class="container flexible">
        <div class="row col-sm-4 rounded-block">
            <h1 class="row">Complete Concept Strength Registration</h1><br/>
    
            <form name="registerForm" role="form">
				<input type="text" placeholder="First Name" name="firstName" ng-model="user.firstName" required/><br/><br/>
				<input type="text" placeholder="Last Name" name="lastName" ng-model="user.lastName" required/><br/><br/>
				<input type="text" placeholder="Email" name="email" ng-model="user.email" required/><br/><br/>
				<input type="password" placeholder="Password" name="password" ng-model="user.password" required/><br/><br/>
				<input type="text" placeholder="Organization (optional)" name="organization" ng-model="user.organization"/><br/>
				<input type="radio" name="athlete" ng-model="userType" value="ATHLETE"> Athlete<br/>
    			<input type="radio" name="trainer" ng-model="userType" value="COACH"> Trainer<br/>
				<input type="submit" class="btn btn-primary" ng-click="register(user, userType)" value="Register"/><br/><br/>
                <div ng-show="error.length" class="alert alert-danger alert-dismissable">
                	<button type="button" class="close" ng-click="error = null">&times;</button>
                    {{error}}
                </div>
			</form> 
            
            <b><a href="login.html">Login page</a><br/></b> 
        </div>
    </div>
</body>
</html> 