<!doctype html>
<html lang="en">
<head>
	<title>CompleteConceptStrength Register Page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<script src="bower_components/angular/angular.js"></script>
 	<script src="bower_components/angular-route/angular-route.js"></script>
 	<script src="scripts/main.js"></script>
 	<script src="scripts/services/athlete.js"></script>
	<script src="scripts/controllers/athlete.js"></script>

	<link rel="stylesheet" href="styles/main.css">
</head>
<body>
	<h1>CompleteConceptStrength Register</h1>

	<form name="registerForm" ng-app="completeConceptStrength" ng-controller="athleteCtrl">
		First Name: <input type="text" name="firstName" ng-model="athlete.firstName"/><br/>
		Last Name: <input type="text" name="lastName" ng-model="athlete.lastName"/><br/>
		Email: <input type="text" name="email" ng-model="athlete.email"/><br/>
		Password: <input type="text" name="password" ng-model="athlete.password"/><br/>
		Account type: <input type="radio" ng-model="athlete.userType" value="ATHLETE"/>Athlete
		<input type="radio" ng-model="athlete.userType" value="COACH"/>Coach<br/>
		<input type="button" ng-click="register(athlete)" value="Register"/><br/>
	</form> 

</body>
</html> 