<h2>Workouts</h2>
<div class="dropdown left-aligned" ng-hide="creating">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Create Workout <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="createWorkout('lift')">Lift</a></li>
        <li><a ng-click="createWorkout('set')">Set</a></li>
        <li><a ng-click="createWorkout('prescription')">Prescription</a></li>
    </ul>
</div>

<div ng-show="creatingLift" class="left-aligned col-xs-12 col-lg-7 row">
</br>
    <form name="liftForm" role="form">
        <input type="text" class="form-control" placeholder="Lift Name" name="name" ng-model="lift.name" required/><br>
        <input type="text" class="form-control" placeholder="Category" name="category" ng-model="lift.category"/><br>
        <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="lift.description"/><br>
        <input type="button" class="btn btn-primary" ng-click="cancelCreate()" value="Cancel"/>
        <input type="submit" class="btn btn-primary" ng-click="createLift(lift)" value="Save"/><br><br>
     </form> 
</div>

<div ng-show="creatingSet" class="left-aligned col-xs-12 col-lg-7 row">
</br>
    <form name="setForm" role="form">
        <div class="dropdown">
            <select class="selectpicker btn btn-primary" ng-model="set.mainLiftDefinition">
                <option ng-repeat="lift in lifts">{{lift.name}}</option>
            </select>
        </div><br>
        <table class="table">
            <thead>
                <th>Repetitions</th>
                <th>% One Rep Max</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="reps in set">
                    <td><input type="text" name="rowReps" class="form-control" ng-model="reps.assignedRepetitions"/></td>
                    <td><input type="text" name="rowORM" class="form-control" ng-model="reps.assignedPercentOfOneRepMax"/></td>
                    <td><input type="button" class="btn btn-danger" ng-click="deleteRow(reps)" value="Delete"/></td>
                </tr>
            </tbody>
        </table>
        <input type="button" class="btn btn-success" value="Add" ng-click="addSetRow()"><br><br>
        <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="set.description"/><br>
        <input type="button" class="btn btn-primary" ng-click="cancelCreate()" value="Cancel"/>
        <input type="submit" class="btn btn-primary" ng-click="createSet(set)" value="Save"/><br><br>
     </form> 
</div>
 
<div ng-hide="creating">
    <h2 class="left-aligned">Lifts</h2>
    <table class="table table-connect">
        <tbody>
          <tr ng-repeat="lift in lifts">
            <td>{{lift.name}}</td>
            <td>{{lift.description}}</td>
            <td class="last-row">            
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle btn-connect" type="button" data-toggle="dropdown">Options
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right dropdownbox">
                        <li><a ng-click="editLift(lift.id)">Edit</a></li>
                        <li><a ng-click="deleteLift(lift.id)">Delete</a></li>
                    </ul>
                </div>
            </td>
          </tr>
        </tbody>
    </table>



    <h2 class="left-aligned">Sets</h2>
    <table class="table table-connect">
        <tbody>
          <tr ng-repeat="set in sets">
            <td>{{set.name}}</td>
            <td>{{set.description}}</td>
            <td class="last-row">            
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle btn-connect" type="button" data-toggle="dropdown">Options
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right dropdownbox">
                        <li><a ng-click="editSet(set.id)">Edit</a></li>
                        <li><a ng-click="deleteSet(set.id)">Delete</a></li>
                    </ul>
                </div>
            </td>
          </tr>
        </tbody>
    </table>



    <h2 class="left-aligned">Prescriptions</h2>
    <table class="table table-connect">
        <tbody>
          <tr ng-repeat="prescription in prescriptions">
            <td>{{prescription.name}}</td>
            <td>{{prescription.description}}</td>
            <td class="last-row">            
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle btn-connect" type="button" data-toggle="dropdown">Options
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right dropdownbox">
                        <li><a ng-click="editPrescription(prescription.id)">Edit</a></li>
                        <li><a ng-click="deletePrescription(prescription.id)">Delete</a></li>
                    </ul>
                </div>
            </td>
          </tr>
        </tbody>
    </table>
</div>