<div ng-controller="athletesCtrl">

	<div ng-hide="prescribing || viewingProfile">
		<div>
			<h4 class="left-aligned">Import Prescriptions</h4>
			<input type="file" class="btn btn-default btn-file btn-responsive" ngf-select="selectFile(file)" ng-model="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
		</div>
		<br><br>

		<table class="table table-connect">
			<tbody>
			    <tr ng-repeat="connection in existingConnections">
					<td>{{connection.user.firstName}} {{connection.user.lastName}}
					<br>{{connection.user.email}}
					<br>{{connection.user.organization}}</td>
					<td class="last-row">            
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle btn-responsive" type="button" data-toggle="dropdown">Options
							<span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right dropdownbox">
								<li><a ng-click="viewProfile(connection)">View Profile</a></li>
								<li><a ng-click="viewPrescription(connection)">View Prescriptions</a></li>
							</ul>
						</div>
					</td>
			    </tr>
			</tbody>
		</table>
	</div>

	<div ng-show="prescribing"> 
	</br>
		<div ng-include="'pages/calendarNew.html'"></div>
	</div>

	<div ng-show="viewingProfile"> 
	</br>
		<div class="btn-group">
        	<button class="btn btn-primary btn-responsive2" ng-click="cancelViewing()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
        	</button>
        </div></br></br>
		<div ng-include="'pages/settings.html'"></div>
	</div>

	<!-- Success worout modal (pop-up) -->
    <script type="text/ng-template" id="modal.html"></script>
    <div class="modal fade" id="athletesModal" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" style="font-weight: bold;">{{modalHeader}}</h3>
                        </div>
                        <div class="modal-body" ng-show="inProgress">
				            <div class="progress">
							    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">
							    </div>
							</div>
				        </div>
                        <div class="modal-footer" ng-hide="inProgress">
                            <button type="button" class="btn btn-success" ng-click="closeAthletesModal()" data-dismiss="modal">Okay!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
