<div ng-controller="calendarCtrl">

	<div ng-hide="newPrescribe">
		<div class="col-xs-10 col-xs-offset-1 form-inline">
			<button class="btn btn-danger" ng-click="cancelPrescribing()">Cancel</button>
		  	
	            <div class="btn-group">
	                <button type="button" class="btn btn-default" ng-class="{active:mode==='month'}"
	                        ng-click="changeMode('month')">
	                    Month
	                </button>
	                <button type="button" class="btn btn-default" ng-class="{active:mode==='week'}"
	                        ng-click="changeMode('week')">
	                    Week
	                </button>
	                <button type="button" class="btn btn-default" ng-class="{active:mode==='day'}"
	                        ng-click="changeMode('day')">
	                    Day
	                </button>
	            </div>
	            <div class="btn-group">
	                <button type="button" class="btn btn-default" ng-disabled="isToday()"
	                        ng-click="today()">
	                    Today
	                </button>
	            </div>

	       	<button class="btn btn-success" ng-click="prescribeWorkout(connectedAthlete)">Prescribe</button>
		</br> </br>
		</div>
		
		<div class="col-xs-10 col-xs-offset-1">
		<calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource" event-selected="onEventSelected(event)"></calendar>
		</div>
	</div>

	<div ng-show="newPrescribe" ng-controller="workoutsCtrl" ng-init="loadWorkouts()">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="btn-group">
				<button class="btn btn-success" ng-click="cancelNewPrescribe()">Cancel</button>
			   	<button class="btn btn-danger" ng-click="saveNewPrescribe()">Save</button>
       		</div>
		</br> </br>

		<div class="left-aligned col-xs-12 col-lg-12">
	        <br>
	        <form role="form">
	            <div class="form-inline" style="padding-left: 0;">
	            	<select style="margin-right: 10px;" class="selectpicker btn btn-primary dropdown" ng-model="customPrescription" ng-options="cPres as cPres.name for cPres in prescriptions track by cPres.id"  ng-click="prescriptionSelected(customPrescription)"><option value="">Predefined Prescriptions</option>
	                </select><input type="text" class="form-control" placeholder="Prescription Name" ng-model="customPrescription.name"/>
	            </div>
	            <br><br>

	            <table class="table">
	                 <thead>
	                    <th>Sets</th>
	                    <th></th>
	                    <th></th>
	                </thead>
	                <tbody>
	                    <tr ng-repeat="pSet in customPrescription.mainLiftSets track by $index">
	                        <td>
	                            <select class="selectpicker btn btn-primary dropdown" ng-model="pSet" ng-options="cSet as cSet.name for cSet in sets track by cSet.id"  ng-click="setSelected(pSet, $index)">
	                                <option value="">Predefined Sets</option>
	                            </select>
	                        </td>
	                        <td>
	                            <div class="form-inline">
	                                <select class="selectpicker btn btn-primary dropdown col-lg-3" ng-model="pSet.mainLiftDefinition" ng-options="lift as lift.name for lift in lifts track by lift.id" style="margin-right: 10px;">
	                                    <option value="">Select a Lift</option>
	                                </select>
	                                <input type="text" class="form-control" placeholder="Set Name" ng-model="pSet.name"/><br>
	                            </div>
	                            <br>
	                            <table class="table" style="background-color: transparent;">
	                                <thead>
	                                    <th class="col-xs-3">Repetitions</th>
	                                    <th class="col-xs-3">% One Rep Max</th>
	                                    <th></th>
	                                </thead>
	                                <tbody>
	                                    <tr ng-repeat="reps in pSet.mainLifts">
	                                        <td><input type="number" class="form-control" value="0" min="0" ng-model="reps.assignedRepetitions" required/></td>
	                                        <td><input type="number" class="form-control" value="0" min="0" max="100" ng-model="reps.assignedPercentOfOneRepMax" required/></td>
	                                        <td><input type="button" class="btn btn-danger" ng-click="deleteRow($parent.$index, $index)" value="Delete"/></td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                            <input type="button" class="btn btn-success" value="Add" ng-click="addRow($index)"><br><br>
	                            <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="pSet.description"/><br>
	                        </td>
	                        <td>
	                            <input type="button" class="btn btn-danger" ng-click="deletePRow($index)" value="Delete Set"/>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
	            <input type="button" class="btn btn-success" value="Add Set" ng-click="addPSetRow()"><br><br>

	            <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="customPrescription.description"/><br><br>
	         </form> 
	    </div>

	</div>

	</div>
       		
</div>