<div ng-controller="connectionsCtrl" ng-init="loadConnectionsTab()">
	<h2 class="left-aligned">Find Connections</h2>
	<form name="searchForm" role="form">
		<div class="input-group col-sm-4">
	        <input type="text" class="form-control" placeholder="Search users by name, email or organization" ng-model="searchText">
	        <div class="input-group-btn">
	            <button class="btn btn-default" type="submit" ng-click="searchConnections(searchText)"><i class="glyphicon glyphicon-search"></i></button>
	        </div>
	    </div>
	</form>
	<br>

	<div ng-show="showUserSearchResults(searchText)">
		<h2 class="left-aligned">Search Results</h2>
		<table class="table table-connect">
			<tbody>
			  	<tr ng-repeat="connection in userSearchResults">
					<td class="col-sm-1"> 
						<img src="images/profile_pics/default.jpg" alt="Profile Pic" style="width: 100px; height: 100px;">
					</td>
					<td>{{connection.user.firstName}} {{connection.user.lastName}}
					<br>{{connection.user.email}}
					<br>{{connection.user.organization}}</td>
					<td class="last-row">            
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle btn-connect" type="button" data-toggle="dropdown">{{connection.userConnectionStatus.status}}
							<span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right dropdownbox">
								<li ng-repeat="action in connection.userConnectionStatus.actions"><a ng-click="connectionAction(connection, action)">{{action}}</a></li>
							</ul>
						</div>
					</td>
			  	</tr>
			</tbody>
		</table>
	</div>

	<div ng-hide="searchText.length">
		<div ng-show="pendingConnections.length > 0">
			<h2 class="left-aligned">Pending</h2>
			<table class="table table-connect">
				<tbody>
				    <tr ng-repeat="connection in pendingConnections">
						<td class="col-sm-1"> 
							<img src="images/profile_pics/default.jpg" alt="Profile Pic" style="width: 100px; height: 100px;">
						</td>
						<td>{{connection.user.firstName}} {{connection.user.lastName}}
						<br>{{connection.user.email}}
						<br>{{connection.user.organization}}</td>
						<td class="last-row">            
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle btn-connect" type="button" data-toggle="dropdown">{{connection.userConnectionStatus.status}}
								<span class="caret"></span></button>
								<ul class="dropdown-menu dropdown-menu-right dropdownbox">
									<li ng-repeat="action in connection.userConnectionStatus.actions"><a ng-click="connectionAction(connection, action)">{{action}}</a></li>
								</ul>
							</div>
						</td>
				    </tr>
				</tbody>
			</table>
		</div>

		<div ng-show="existingConnections.length > 0">
			<h2 class="left-aligned">Existing</h2>
			<table class="table table-connect">
				<tbody>
				    <tr ng-repeat="connection in existingConnections">
						<td class="col-sm-1"> 
							<img src="images/profile_pics/default.jpg" alt="Profile Pic" style="width: 100px; height: 100px;">
						</td>
						<td>{{connection.user.firstName}} {{connection.user.lastName}}
						<br>{{connection.user.email}}
						<br>{{connection.user.organization}}</td>
						<td class="last-row">            
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle btn-connect" type="button" data-toggle="dropdown">{{connection.userConnectionStatus.status}}
								<span class="caret"></span></button>
								<ul class="dropdown-menu dropdown-menu-right dropdownbox">
									<li ng-repeat="action in connection.userConnectionStatus.actions"><a ng-click="connectionAction(connection, action)">{{action}}</a></li>
								</ul>
							</div>
						</td>
				    </tr>
				</tbody>
		    </table>
		</div>
	</div>

	<!-- Success connection modal (pop-up) -->
	<script type="text/ng-template" id="modal.html"></script>
	<div class="modal fade" id="successConnectionModal" role="dialog">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title" style="font-weight: bold;">{{modalHeader}}</h3>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success" ng-click="closeConnectionModal()" data-dismiss="modal">Okay!</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>