<!doctype html>
<html lang="en">
<head>
	<title>CompleteConceptStrength Athlete Homepage</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="icon" type="image/png" href="images/logo/ccs_logo_32.png">

    <!-- JavaScript -->
 	<script src="bower_components/jquery-ajax-only/jquery-ajax-only.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
 	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/store.js/store.min.js"></script>
    <script src="bower_components/cryptojslib/rollups/sha256.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="scripts/other/calendar-tpls.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/athleteService.js"></script>
	<script src="scripts/services/userService.js"></script>
    <script src="scripts/services/userConnectionService.js"></script>
    <script src="scripts/services/workoutService.js"></script>
    <script src="scripts/controllers/homepageCtrl.js"></script>
    <script src="scripts/controllers/prescriptionsCtrl.js"></script>
    <script src="scripts/controllers/connectionsCtrl.js"></script>
    <script src="scripts/controllers/settingsCtrl.js"></script>
    <script src="scripts/controllers/calendarCtrl.js"></script>
    <script type="text/javascript" src="scripts/other/responsive-tables.js"></script>

    <!-- CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="styles/bootstrap-slate.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css">
    <link href="styles/calendar.css" rel="stylesheet"/>
	<link href="styles/main.css" rel="stylesheet" type="text/css">
    <link href="styles/homepage.css" rel="stylesheet" type="text/css">
    <link type="text/css" media="screen" rel="stylesheet" href="styles/responsive-tables.css"/>
</head>

<body ng-app="homepageModule" ng-controller="homepageCtrl" ng-init="loadHomepage()">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="pull-left" style="margin-right:10px; margin-top:10px;"><img width="100" src="images/logo/logLogoW.png"></a>
                <a class="navbar-brand">{{username}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" bs-navbar>
                <ul class="nav navbar-nav">
                    <li ng-class="{active:isActive('/prescriptions')}"><a data-toggle="tab" href="#prescriptions" ng-click="clickedPrescriptionsTab()">Prescription</a></li>
                    <li ng-class="{active:isActive('/connections')}"><a data-toggle="tab" href="#connections" ng-click="clickedConnectionsTab()">Connect</a></li>
                    <li ng-class="{active:isActive('/settings')}"><a data-toggle="tab" href="#settings" ng-click="clickedSettingsTab()">Settings</a></li>
                </ul>
                <!-- code for the right side of the navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ng-click="notifications()">Notifications <span class="badge">{{notifications}}</span></a></li>
                    <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="tab-content" style="margin-left: 20px; margin-right: 20px;">
        <div id="prescriptions" ng-class="{active:isActive('/prescriptions')}" class="tab-pane">
            <div ng-include="'pages/prescriptions.html'"></div>
        </div>
        <div id="connections" ng-class="{active:isActive('/connections')}" class="tab-pane">
            <div ng-include="'pages/connections.html'"></div>
        </div>
        <div id="settings" ng-class="{active:isActive('/settings')}" class="tab-pane">
            <div ng-include="'pages/settings.html'"></div>
        </div>
    </div>
    
</body>
</html>
