<!doctype html>
<html lang="en">
<head>
	<title>CompleteConceptStrength Login</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="manifest" href="manifest.json">

    <!-- JavaScript -->
	<script src="bower_components/angular/angular.min.js"></script>
 	<script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/store.js/store.min.js"></script>
    <script src="bower_components/cryptojslib/rollups/sha256.js"></script>
    <script src="scripts/app.js"></script>
 	<script src="scripts/services/userService.js"></script>
	<script src="scripts/controllers/loginCtrl.js"></script>

    <!-- CSS -->
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="styles/main.css" rel="stylesheet" type="text/css">
	<link href="styles/index.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="loginModule" ng-controller="loginCtrl">
    <div class="container flexible">
        <div class="row col-sm-4 rounded-block">
            <h1 class="row">Complete Concept Strength Login</h1><br/>
    
            <form name="loginForm" role="form">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input class="form-control" type="text"  placeholder="Email" name="email" ng-model="user.email" required/>
                </div>
				<br>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input class="form-control" type="password" placeholder="Password" name="password" ng-model="user.password" required/>
                </div>
				<br>
				<label><input type="checkbox"> Remember Me!</label><br/>
                <input type="submit" class="btn btn-primary" ng-click="login(user)" value="Login"/><br/><br/>
                <div ng-show="error.length" class="alert alert-danger alert-dismissable">
                	<button type="button" class="close" ng-click="error = null">&times;</button>
                    {{error}}
                </div>
            </form> 
            
            <b><a href="register">No Account? Register Now!</a><br/></b>
        </div>
    </div>
</body>
</html>
