<!doctype html>
<html lang="en">
<head>
	<title>CompleteConceptStrength Registration Page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="icon" type="image/png" href="images/logo/ccs_logo_32.png">

	<!-- JavaScript -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
 	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/cryptojslib/rollups/sha256.js"></script>
 	<script src="scripts/app.js"></script>
 	<script src="scripts/services/userService.js"></script>
	<script src="scripts/controllers/registerCtrl.js"></script>

	<!-- CSS -->
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="styles/bootstrap-slate.css" rel="stylesheet" type="text/css">
	<link href="styles/main.css" rel="stylesheet" type="text/css">
	<link href="styles/index.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="registerModule" ng-controller="registerCtrl" ng-init="registerLoad()" class="bg">
	<div class="container flexible">
        <div class="row col-sm-6 rounded-block">
            <img src="images/logo/logLogo.png" class="img-responsive center center-block" style="margin-top:15px;"><br/>
    
            <form name="registerForm" role="form">
				<input type="text" class="form-control" placeholder="First Name" name="firstName" ng-model="user.firstName" required/><br>
				<input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-model="user.lastName" required/><br>
				<input type="text" class="form-control" placeholder="Email" name="email" ng-model="user.email" required/><br>
				<input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password" required/><br>
				<input type="text" class="form-control" placeholder="Organization (optional)" name="organization" ng-model="user.organization"/><br>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default btn-responsive3 active" ng-click="setUserType('Athlete')">
						<input type="radio">Athlete
					</label>
					<label class="btn btn-default btn-responsive3" ng-click="setUserType('Coach')">
						<input type="radio">Trainer
					</label>
				</div><br><br>
				<input type="submit" class="btn btn-primary btn-responsive" ng-click="register(user)" value="Register"/><br><br>
                <div ng-show="error.length" class="alert alert-danger alert-dismissable">
                	<button type="button" class="close" ng-click="error = null">&times;</button>
                    {{error}}
                </div>
			</form> 
            
            <div style="margin-bottom:15px;">
            	<b><a href="login">Login</a></b>
            </div>
        </div>
		
		<!-- Success modal (pop-up) -->
		<script type="text/ng-template" id="modal.html"></script>
		<div class="modal fade" id="successModal" role="dialog">
			<div class="vertical-alignment-helper">
        		<div class="modal-dialog vertical-align-center">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">{{modalHeader}}</h3>
							</div>
							<div class="modal-body">
								<p>{{modalBody}}</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-success" ng-click="closeModal()" data-dismiss="modal">Continue</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
      
    </div>
</body>
</html> 