<div ng-controller="settingsCtrl">

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2">First Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="settingsUser.firstName" required/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Last Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="settingsUser.lastName" required/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Email:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="settingsUser.email" required/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Organization:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="(optional)" ng-model="settingsUser.organization"/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Phone Number:</label>
            <div class="col-sm-6">
                <input type="number" min="0" class="form-control" placeholder="(optional)" ng-model="settingsUser.phoneNumber"/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Enable Text Notifications:</label>
            <div class="col-sm-6 left-aligned">
                <input type="checkbox" ng-model="settingsUser.enableTextMessages" value=""><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Cell Carrier</label>
            <div class="col-sm-6 left-aligned">
                <select class="selectpicker btn btn-primary dropdown" ng-model="settingsUser.cellCarrier" ng-options="carrier as carrier for carrier in cellCarriers">
                </select>
            </div>
        </div>
        <br>
        <div ng-show="user.id == settingsUser.id">
            <div class="form-group">
                <label class="control-label col-sm-2">Password Form:</label>
                <div class="col-sm-6 left-aligned">
                    <button class="btn btn-default" ng-click="showPasswordModal()">Update Password</button>
                </div>
            </div>
        </div>
        <br>
        
        <input type="button" class="btn btn-primary btn-responsive" ng-click="resetSettings(originalUser)" value="Reset"/>
        <input type="submit" class="btn btn-primary btn-responsive" ng-click="update(settingsUser)" value="Save"/><br><br>
        <div ng-show="error.length" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" ng-click="error = null">&times;</button>
            {{error}}
        </div>
    </form> 

    <div ng-show="settingsUser.userType == 'Athlete' && (settingsConnection == null || settingsConnection.status == 'Connected')">
        <h2>Athlete Profile</h2>

        
        <button ng-click="expandORM()" class="btn btn-primary btn-responsive pull-left"><h3 class="pull-left">One Rep Maximums  </h3> 
        <span ng-if="!expandedORM" class="glyphicon glyphicon-download" aria-hidden="true" style="font-size: 25px; margin-left: 10px; margin-top: 20px;"></span><span ng-if="expandedORM" class="glyphicon glyphicon-upload" aria-hidden="true" style="font-size: 25px; margin-left: 10px; margin-top: 20px;"></span>
        </button></br></br></br></br>
            <div class="table-responsive" ng-if="expandedORM">
                <table class="table">
                    <thead>
                        <th><h3>Lift Names</h3></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="oneRepMax in athleteProfile.oneRepMaxCharts track by $index">
                            <td>
                            <h3 class="left-aligned"><a href ng-click="expandChart(oneRepMax)">{{oneRepMax.liftName}}</a></h3>
                             <div ng-if="oneRepMax.expanded">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>One-Rep-Max</th>
                                            <th> Date Updated</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="orm in oneRepMax.oneRepMaxes">

                                            <td><input type="number" class="form-control form-control-inline" ng-model="orm.value" value="0" min="0" required/></td>
                                            <td><input type="date" class="form-control" ng-model="orm.date" max="{{tomorrow | date:'yyyy-MM-dd'}}"/></td>
                                            <td><button class="btn btn-danger btn-responsive" ng-click="deleteOneRepMaxRow($parent.$index, $index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                                          </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success btn-responsive pull-left" ng-click="addOneRepMaxRow($index)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                </div>
                              </div>
                            </td>
                            <td class="last-row"><button class="btn btn-danger btn-responsive" ng-click="deleteOneRepMaxChart($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                        </tr>
                    </tbody>
                </table>
                <form role="form">
                    <div class="left-aligned form-inline">
                        <button class="btn btn-success btn-responsive4" ng-click="addOneRepMaxChart(newLift)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Lift
                        </button>
                        <input type="text" class="form-control col-xs-3" ng-model="newLift" placeholder="Lift Name" required/>
                    </div>
                </form>
                <br><br>
            </div>

            <button ng-click="expandEvent()" class="btn btn-primary btn-responsive pull-left"><h3 class="pull-left">Athletic Events  </h3> 
            <span ng-if="!expandedEvent" class="glyphicon glyphicon-download" aria-hidden="true" style="font-size: 25px; margin-left: 10px; margin-top: 20px;"></span><span ng-if="expandedEvent" class="glyphicon glyphicon-upload" aria-hidden="true" style="font-size: 25px; margin-left: 10px; margin-top: 20px;"></span>
            </button></br></br></br></br>
            <div class="table-responsive" ng-if="expandedEvent"> 
                <table class="table">
                    <thead>
                        <th><h3>Event Names</h3></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="eventChart in athleteProfile.trackEventCharts track by $index">
                            <td>
                            <h3 class="left-aligned"><a href ng-click="expandChart(eventChart)">{{eventChart.eventName}}</a></h3>
                            <div ng-if="eventChart.expanded">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>Hours</th>
                                            <th>Minutes</th>
                                            <th>Seconds</th>
                                            <th>Event Date</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="event in eventChart.trackEvents">
                                            <td><input type="number" class="form-control form-control-inline" ng-model="event.trackTime.hours" value="0" min="0" required/></td>
                                            <td><input type="number" class="form-control form-control-inline" ng-model="event.trackTime.minutes" value="0" min="0" required/></td>
                                            <td><input type="number" class="form-control form-control-inline2" ng-model="event.trackTime.seconds" value="0" min="0" required/></td>
                                            <td><input type="date" class="form-control" ng-model="event.date" max="{{tomorrow | date:'yyyy-MM-dd'}}"/></td>
                                            <td><button class="btn btn-danger btn-responsive" ng-click="deleteTrackEventRow($parent.$index, $index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                                          </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success btn-responsive pull-left" ng-click="addTrackEventRow($index)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            </td>
                             <td class="last-row"><button class="btn btn-danger btn-responsive" ng-click="deleteTrackEventChart($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                        </tr>
                    </tbody>
                </table>

                <form role="form">
                    <div class="left-aligned form-inline">
                        <button class="btn btn-success btn-responsive4" ng-click="addTrackEventChart(newEvent)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Event
                        </button>
                        <input type="text" class="form-control col-xs-3" ng-model="newEvent" placeholder="Event Name" required/>
                    </div>
                </form>
            </div></br>
            <!-- Graph ORM HTML -->
            <div class="col-md-6">
            <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-click="onClick">
            </canvas> 
            </div>
            <!-- end Graph HTML -->
            <!-- Graph TIME HTML -->
            <div class="col-md-6">
            <canvas id="line2" class="chart chart-line" chart-data="data2"
              chart-labels="labels2" chart-legend="true" chart-series="series2"
              chart-click="onClick">
            </canvas> 
            </div>
            <!-- end Graph HTML -->
            </br>
            <input type="button" class="btn btn-primary btn-responsive" ng-click="resetAthleteProfile()" value="Reset"/>
            <input type="submit" class="btn btn-primary btn-responsive" ng-click="updateAthleteProfile(settingsUser.id, athleteProfile)" value="Save"/>
         </div>

    <script type="text/ng-template" id="passwordModal.html"></script>
    <div class="modal fade" id="passwordModal" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">{{modalHeader}}</h3>
                        </div>
                        <br>
                        <form class="form-horizontal" style="margin-left: 20px; margin-right: 20px;">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Old Password:</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" ng-model="settingsUser.oldPassword" required/><br>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">New Password:</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" ng-model="settingsUser.newPassword" required/><br>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Repeat Password:</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" ng-model="settingsUser.repeatPassword" required/><br>
                                </div>
                            </div>
                        </form>
                        <div ng-show="passwordError.length" class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" ng-click="passwordError = null">&times;</button>
                            {{passwordError}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-responsive" ng-click="closePasswordModal()" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-responsive" ng-click="submitPassword(settingsUser)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
