<div ng-controller="settingsCtrl">

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2">First Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="settingsUser.firstName" required disabled/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Last Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="settingsUser.lastName" required disabled/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Email:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="settingsUser.email" required disabled/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Organization:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="(optional)" ng-model="settingsUser.organization" disabled/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Phone Number:</label>
            <div class="col-sm-6">
                <input type="number" min="0" class="form-control" placeholder="(optional)" ng-model="settingsUser.phoneNumber" disabled/><br>
            </div>
        </div>
        <br>
        
        <input type="button" class="btn btn-primary" ng-click="resetSettings(originalUser)" value="Reset"/>
        <input type="submit" class="btn btn-primary" ng-click="update(settingsUser)" value="Save"/><br><br>
        <div ng-show="error.length" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" ng-click="error = null">&times;</button>
            {{error}}
        </div>
    </form> 

    <div ng-show="settingsUser.userType == 'Athlete' && (settingsConnection == null || settingsConnection.status == 'Connected')">
        <h2>Athlete Profile</h2>

        <div class="col-xs-12">
            <form role="form">
                <table class="table">
                    <thead>
                        <th class="col-xs-3"><h3>One Repetition Maximums</h3></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="oneRepMax in athleteProfile.oneRepMaxCharts track by $index">
                            <td>
                            <h3 class="left-aligned"><a href ng-click="expandChart(oneRepMax)">{{oneRepMax.liftName}}</a></h3>
                             <div ng-if="oneRepMax.expanded">
                                    <table class="table">
                                        <thead>
                                            <th class="col-xs-3">One Rep Max</th>
                                            <th class="col-xs-3">Date Updated</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="orm in oneRepMax.oneRepMaxes">
                                            <td><input type="number" class="form-control" ng-model="orm.value" value="0" min="0" required/></td>
                                            <td><input type="date" class="form-control" ng-model="orm.date"/></td>
                                            <td><input type="button" class="btn btn-danger" ng-click="deleteOneRepMaxRow($parent.$index, $index)" value="Delete"/></td>
                                          </tr>
                                        </tbody>
                                    </table>
                                    <input type="button" class="btn btn-success btn-responsive" value="Add Row" ng-click="addOneRepMaxRow($index)">
                                </div>
                            </td>
                            <td class="last-row"><input type="button" class="btn btn-danger" ng-click="deleteOneRepMaxChart($index)" value="Delete"/></td>
                        </tr>
                    </tbody>
                </table>
                <form role="form">
                    <div class="left-aligned form-inline">
                        <input type="submit" class="btn btn-success" value="Add Lift" ng-click="addOneRepMaxChart(newLift)">
                        <input type="text" class="form-control col-xs-3" ng-model="newLift" placeholder="Lift Name" required/>
                    </div>
                </form>
                <br><br>
                <table class="table">
                    <thead>
                        <th class="col-xs-3"><h3>Athletic Events</h3></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="eventChart in athleteProfile.trackEventCharts track by $index">
                            <td>
                            <h3 class="left-aligned"><a href ng-click="expandChart(eventChart)">{{eventChart.eventName}}</a></h3>
                             <div ng-if="eventChart.expanded">
                                    <table class="table">
                                        <thead>
                                            <th class="col-xs-3">Hours</th>
                                            <th class="col-xs-3">Minutes</th>
                                            <th class="col-xs-3">Seconds</th>
                                            <th class="col-xs-3">Event Date</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="event in eventChart.trackEvents">
                                            <td><input type="number" class="form-control" ng-model="event.trackTime.hours" value="0" min="0" required/></td>
                                            <td><input type="number" class="form-control" ng-model="event.trackTime.minutes" value="0" min="0" required/></td>
                                            <td><input type="number" class="form-control" ng-model="event.trackTime.seconds" value="0" min="0" required/></td>
                                            <td><input type="date" class="form-control" ng-model="event.date"/></td>
                                            <td><input type="button" class="btn btn-danger" ng-click="deleteTrackEventRow($parent.$index, $index)" value="Delete"/></td>
                                          </tr>
                                        </tbody>
                                    </table>
                                    <input type="button" class="btn btn-success btn-responsive" value="Add Row" ng-click="addTrackEventRow($index)">
                                </div>
                            </td>
                            <td class="last-row"><input type="button" class="btn btn-danger" ng-click="deleteTrackEventChart($index)" value="Delete"/></td>
                        </tr>
                    </tbody>
                </table>
                <form role="form">
                    <div class="left-aligned form-inline">
                        <input type="submit" class="btn btn-success" value="Add Event" ng-click="addTrackEventChart(newEvent)">
                        <input type="text" class="form-control col-xs-3" ng-model="newEvent" placeholder="Event Name" required/>
                    </div>
                </form>
             </form> 
             <input type="button" class="btn btn-primary" ng-click="resetAthleteProfile()" value="Reset"/>
             <input type="submit" class="btn btn-primary" ng-click="updateAthleteProfile(user.id, athleteProfile)" value="Save"/>
         </div>
    </div>

</div>
