<div ng-controller="settingsCtrl">

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2">First Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="settingsUser.firstName" required disabled/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Last Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="settingsUser.lastName" required disabled/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Email:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="settingsUser.email" required disabled/><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Organization:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="(optional)" ng-model="settingsUser.organization" disabled/><br>
            </div>
        </div>
        <br>
    </form> 

    <div ng-show="settingsUser.userType == 'Athlete' && (settingsConnection == null || settingsConnection.status == 'Connected')">
        <h2>Athlete Profile</h2>

        
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th><h3>One Repetition Maximums</h3></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="oneRepMax in athleteProfile.oneRepMaxCharts track by $index">
                            <td>
                            <h3 class="left-aligned"><a href ng-click="expandChart(oneRepMax)">{{oneRepMax.liftName}}</a></h3>
                             <div ng-if="oneRepMax.expanded">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>One-Rep-Max</th>
                                            <th> Date Updated</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="orm in oneRepMax.oneRepMaxes">

                                            <td><input type="number" class="form-control form-control-inline" ng-model="orm.value" value="0" min="0" required/></td>
                                            <td><input type="date" class="form-control" ng-model="orm.date" max="{{date | date:'yyyy-MM-dd'}}"/></td>
                                            <td><button class="btn btn-danger btn-responsive" ng-click="deleteOneRepMaxRow($parent.$index, $index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                                          </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success btn-responsive pull-left" ng-click="addOneRepMaxRow($index)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                </div>
                              </div>
                            </td>
                            <td class="last-row"><button class="btn btn-danger btn-responsive" ng-click="deleteOneRepMaxChart($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                        </tr>
                    </tbody>
                </table>
                <form role="form">
                    <div class="left-aligned form-inline">
                        <button class="btn btn-success btn-responsive4" ng-click="addOneRepMaxChart(newLift)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Lift
                        </button>
                        <input type="text" class="form-control col-xs-3" ng-model="newLift" placeholder="Lift Name" required/>
                    </div>
                </form>
                <br><br>
            </div>
            <div class="table-responsive"> 
                <table class="table">
                    <thead>
                        <th><h3>Athletic Events</h3></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="eventChart in athleteProfile.trackEventCharts track by $index">
                            <td>
                            <h3 class="left-aligned"><a href ng-click="expandChart(eventChart)">{{eventChart.eventName}}</a></h3>
                            <div ng-if="eventChart.expanded">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>Hours</th>
                                            <th>Minutes</th>
                                            <th>Seconds</th>
                                            <th>Event Date</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="event in eventChart.trackEvents">
                                            <td><input type="number" class="form-control form-control-inline" ng-model="event.trackTime.hours" value="0" min="0" required/></td>
                                            <td><input type="number" class="form-control form-control-inline" ng-model="event.trackTime.minutes" value="0" min="0" required/></td>
                                            <td><input type="number" class="form-control form-control-inline2" ng-model="event.trackTime.seconds" value="0" min="0" required/></td>
                                            <td><input type="date" class="form-control" ng-model="event.date" max="{{date | date:'yyyy-MM-dd'}}"/></td>
                                            <td><button class="btn btn-danger btn-responsive" ng-click="deleteTrackEventRow($parent.$index, $index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                                          </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success btn-responsive pull-left" ng-click="addTrackEventRow($index)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            </td>
                             <td class="last-row"><button class="btn btn-danger btn-responsive" ng-click="deleteTrackEventChart($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                        </tr>
                    </tbody>
                </table>

                <form role="form">
                    <div class="left-aligned form-inline">
                        <button class="btn btn-success btn-responsive4" ng-click="addTrackEventChart(newEvent)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Event
                        </button>
                        <input type="text" class="form-control col-xs-3" ng-model="newEvent" placeholder="Event Name" required/>
                    </div>
                </form>
            </div></br>
            <!-- Graph HTML -->
            <div class="col-md-6">
            <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-click="onClick">
            </canvas> 
            </div>
            <!-- end Graph HTML -->
            </br>
            <input type="button" class="btn btn-primary btn-responsive" ng-click="resetAthleteProfile()" value="Reset"/>
            <input type="submit" class="btn btn-primary btn-responsive" ng-click="updateAthleteProfile(settingsUser.id, athleteProfile)" value="Save"/>
         </div>

</div>
