<div ng-controller="workoutsCtrl" ng-init="loadWorkoutsTab()">
    </br></br>
    <div class="dropdown left-aligned" ng-hide="creating">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Create Workout <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a ng-click="createWorkout('lift')">Lift</a></li>
            <li><a ng-click="createWorkout('set')">Set</a></li>
            <li><a ng-click="createWorkout('prescription')">Prescription</a></li>
        </ul>
    </div>

    <div ng-show="creatingLift" class="left-aligned col-xs-12 col-lg-7 row">
        <br>
        <form role="form">
            <input type="text" class="form-control" placeholder="Lift Name" ng-model="customLift.name" required/><br>
            <input type="text" class="form-control" placeholder="Category" ng-model="customLift.category"/><br>
            <textarea type="text" class="form-control" placeholder="Description" ng-model="customLift.description"/><br>
            <input type="button" class="btn btn-primary" ng-click="cancelCreate()" value="Cancel"/>
            <input type="submit" class="btn btn-primary" ng-click="createLift(customLift)" value="Save"/><br><br>
         </form> 
    </div>

    <div ng-show="creatingSet" class="left-aligned col-xs-12 col-lg-7">
        <br>
        <form role="form">
            <div class="form-inline">
                <select class="selectpicker btn btn-primary dropdown col-lg-3" ng-model="customSet.mainLiftDefinition" ng-options="lift as lift.name for lift in lifts track by lift.id" style="margin-right: 10px;">
                    <option value="">Select a Lift</option>
                </select>
                <input type="text" class="form-control" placeholder="Set Name" ng-model="customSet.name" required/><br>
            </div>
            <br>
            <table class="table">
                <thead>
                    <th class="col-xs-3">Repetitions</th>
                    <th class="col-xs-3">% One Rep Max</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="reps in customSet.mainLifts track by $index">
                        <td><input type="number" class="form-control" value="0" min="0" ng-model="reps.assignedRepetitions" required/></td>
                        <td><input type="number" class="form-control" value="0" min="0" max="100" ng-model="reps.assignedPercentOfOneRepMax" required/></td>
                        <td><input type="button" class="btn btn-danger" ng-click="deleteSetRow($index)" value="Delete"/></td>
                    </tr>
                </tbody>
            </table>
            <input type="button" class="btn btn-success" value="Add" ng-click="addSetRow()"><br><br>
            <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="customSet.description"/><br>
            <input type="button" class="btn btn-primary" ng-click="cancelCreate()" value="Cancel"/>
            <input type="submit" class="btn btn-primary" ng-click="createSet(customSet)" value="Save"/><br><br>
         </form> 
    </div>

    <div ng-show="creatingPrescription" class="left-aligned col-xs-12 col-lg-12">
        <br>
        <form role="form">
            <div class="col-xs-4" style="padding-left: 0;">
                <input type="text" class="form-control" placeholder="Prescription Name" ng-model="customPrescription.name" required/>
            </div>
            <br><br>

            <table class="table">
                <thead>
                    <th>Sets</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="pSet in customPrescription.mainLiftSets track by $index">
                        <td>
                            <div class="form-inline">
                                <select class="selectpicker btn btn-primary dropdown col-lg-3" ng-model="pSet" ng-options="cSet as cSet.name for cSet in sets track by cSet.id"  ng-click="setSelected(pSet, $index)" style="margin-right: 10px;">
                                    <option value="">Predefined Sets</option>
                                </select>
                                <select class="selectpicker btn btn-primary dropdown col-lg-3" ng-model="pSet.mainLiftDefinition" ng-options="lift as lift.name for lift in lifts track by lift.id" style="margin-right: 10px;">
                                    <option value="">Select a Lift</option>
                                </select>
                                <input type="text" class="form-control" placeholder="Set Name" ng-model="pSet.name"/><br>
                            </div>
                            <br>
                            <table class="table" style="background-color: transparent;">
                                <thead>
                                    <th class="col-xs-3">Repetitions</th>
                                    <th class="col-xs-3">% One Rep Max</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="reps in pSet.mainLifts">
                                        <td><input type="number" class="form-control" value="0" min="0" ng-model="reps.assignedRepetitions" required/></td>
                                        <td><input type="number" class="form-control" value="0" min="0" max="100" ng-model="reps.assignedPercentOfOneRepMax" required/></td>
                                        <td><input type="button" class="btn btn-danger" ng-click="deleteRow($parent.$index, $index)" value="Delete Repetition"/></td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="button" class="btn btn-success" value="Add Repetition" ng-click="addRow($index)"><br><br>
                            <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="pSet.description"/><br>
                        </td>
                        <td>
                            <input type="button" class="btn btn-danger" ng-click="deletePRow($index)" value="Delete Set"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="button" class="btn btn-success" value="Add Set" ng-click="addPSetRow()"><br><br>

            <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="customPrescription.description"/><br>
            <input type="button" class="btn btn-primary" ng-click="cancelCreate()" value="Cancel"/>
            <input type="submit" class="btn btn-primary" ng-click="createPrescription(customPrescription)" value="Save"/><br><br>
         </form> 
    </div>

     
    <div ng-hide="creating">
        </br>
        <h2 class="left-aligned"><a data-toggle="collapse" data-parent="#accordion" href="#lifts">Lifts</a></h2>
        <div id="lifts" class="collapse">
            <table class="table table-connect">
                <tbody>
                  <tr ng-repeat="lift in lifts">
                    <td>{{lift.name}}</td>
                    <td>{{lift.description}}</td>
                    <td class="last-row">            
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-connect" type="button" data-toggle="dropdown">Options
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right dropdownbox">
                                <li><a ng-click="editLift(lift)">Edit</a></li>
                                <li><a ng-click="deleteLift(lift)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        </br>

        <h2 class="left-aligned"><a data-toggle="collapse" data-parent="#accordion" href="#sets">Sets</a></h2>
        <div id="sets" class="collapse">
            <table class="table table-connect">
                <tbody>
                  <tr ng-repeat="set in sets">
                    <td>{{set.name}}</td>
                    <td>{{set.description}}</td>
                    <td class="last-row">            
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-connect" type="button" data-toggle="dropdown">Options
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right dropdownbox">
                                <li><a ng-click="editSet(set)">Edit</a></li>
                                <li><a ng-click="deleteSet(set)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        </br>

        <h2 class="left-aligned"><a data-toggle="collapse" data-parent="#accordion" href="#prescriptions">Prescriptions</a></h2>
        <div id="prescriptions" class="collapse">
            <table class="table table-connect">
                <tbody>
                  <tr ng-repeat="prescription in prescriptions">
                    <td>{{prescription.name}}</td>
                    <td>{{prescription.description}}</td>
                    <td class="last-row">            
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-connect" type="button" data-toggle="dropdown">Options
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right dropdownbox">
                                <li><a ng-click="editPrescription(prescription)">Edit</a></li>
                                <li><a ng-click="deletePrescription(prescription)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        </br>
    </div>

    <!-- Success worout modal (pop-up) -->
    <script type="text/ng-template" id="creationModal.html"></script>
    <div class="modal fade" id="creationModal" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" style="font-weight: bold;">{{modalHeader}}</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" ng-click="closeCreationModal(success)" data-dismiss="modal">Okay!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>