<div ng-controller="workoutsCtrl" ng-init="loadWorkoutsTab()">
    <br><br>
    <div class="dropdown left-aligned" ng-hide="creating">
        <button class="btn btn-primary dropdown-toggle btn-responsive" type="button" data-toggle="dropdown">Create Workout <span class="caret"></span></button>
        <ul class="dropdown-menu dropdownbox">
            <li><a ng-click="createWorkout('lift')">Lift</a></li>
            <li><a ng-click="createWorkout('set')">Set</a></li>
            <li><a ng-click="createWorkout('prescription')">Prescription</a></li>
        </ul>
    </div>

    <div ng-hide="creating">
        <br>
        <h2 class="left-aligned"><a href ng-click="expandPresets('lifts')">Lifts    
                <span ng-if="!expandLifts" class="glyphicon glyphicon-download"></span>
                <span ng-if="expandLifts" class="glyphicon glyphicon-upload"></span>
        </a></h2>
        <div ng-if="expandLifts">
            <table class="table table-connect">
                <tbody>
                  <tr ng-repeat="lift in lifts">
                    <td><a href ng-click="editLift(lift)">{{lift.name}}</a></td>
                    <td>{{lift.description}}</td>
                    <td class="last-row">            
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-responsive" type="button" data-toggle="dropdown">Options
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right dropdownbox">
                                <li><a ng-click="editLift(lift)">Edit</a></li>
                                <li><a ng-click="deleteLift(lift)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>

        <h2 class="left-aligned"><a href ng-click="expandPresets('sets')">Sets    
                <span ng-if="!expandSets" class="glyphicon glyphicon-download"></span>
                <span ng-if="expandSets" class="glyphicon glyphicon-upload"></span>
        </a></h2>
        <div ng-if="expandSets">
            <table class="table table-connect">
                <tbody>
                  <tr ng-repeat="set in sets">
                    <td><a href ng-click="editSet(set)">{{set.name}}</a></td>
                    <td>{{set.description}}</td>
                    <td class="last-row">            
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-responsive" type="button" data-toggle="dropdown">Options
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right dropdownbox">
                                <li><a ng-click="editSet(set)">Edit</a></li>
                                <li><a ng-click="deleteSet(set)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>

        <h2 class="left-aligned"><a href ng-click="expandPresets('prescriptions')">Prescriptions     
            <span ng-if="!expandPrescriptions" class="glyphicon glyphicon-download"></span>
            <span ng-if="expandPrescriptions" class="glyphicon glyphicon-upload"></span>
        </a></h2>
        <div ng-if="expandPrescriptions">
            <table class="table table-connect">
                <tbody>
                  <tr ng-repeat="prescription in prescriptions">
                    <td><a href ng-click="editPrescription(prescription)">{{prescription.name}}</a></td>
                    <td>{{prescription.description}}</td>
                    <td class="last-row">            
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-responsive" type="button" data-toggle="dropdown">Options
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right dropdownbox">
                                <li><a ng-click="editPrescription(prescription)">Edit</a></li>
                                <li><a ng-click="deletePrescription(prescription)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="creatingLift" class="left-aligned row">
        <div style="text-align: center;">
        <button class="btn btn-primary btn-responsive" ng-click="cancelCreate()"><span class="glyphicon glyphicon-arrow-left" ></span> Back
        </button><br><br>
        </div>
        <form role="form">
            <select class="selectpicker btn btn-primary dropdown btn-responsive" ng-model="customLift.liftType" style="margin-right: 10px; margin-bottom: 10px;" required>
                <option value="">Lift Type</option>
                <option value="Main">Main Lift</option>
                <option value="Accessory">Accessory Lift</option>
            </select>
            <input type="text" class="form-control" placeholder="Lift Name" ng-model="customLift.name" required/><br>
            <input type="text" class="form-control" placeholder="Category" ng-model="customLift.category"/><br>
            <textarea type="text" class="form-control" placeholder="Description" ng-model="customLift.description"/><br>
            <div style="text-align: center;">
            <input type="button" class="btn btn-primary btn-responsive" ng-click="cancelCreate()" value="Cancel"/>
            <input type="submit" class="btn btn-primary btn-responsive" ng-click="createLift(customLift)" value="Save"/><br><br>
            </div>
         </form> 
    </div>

    <div ng-show="creatingSet" class="left-aligned row">
        <div style="text-align: center;">
            <button class="btn btn-primary btn-responsive" ng-click="cancelCreate()"><span class="glyphicon glyphicon-arrow-left"></span> Back
            </button>
        </div>
        <br><br>
        <form role="form">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Set</h4>
            </div>
            <div class="panel-body">

            <table>
                <thead>
                    <th>
                    <select class="selectpicker btn btn-primary dropdown btn-responsive" ng-model="customSet.mainLiftDefinition" ng-options="lift as lift.name for lift in lifts track by lift.id" style="margin-right: 10px; margin-bottom: 10px;">
                    <option value="">Select a Lift</option>
                    </select>
                    </th>
                    <th><input type="text" class="form-control" style="margin-bottom: 10px;" placeholder="Set Name" ng-model="customSet.name" required/></th>
                    <th></th>
                </thead>
            </table>

            <div class="table-responsive">
                <table>
                    <thead>
                        <th>Repetitions</th>
                        <th>% One Rep Max</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reps in customSet.mainLifts track by $index">
                            <td><input type="number" class="form-control form-control-inline" value="0" min="0" ng-model="reps.assignedRepetitions" required/></td>
                            <td><input type="number" class="form-control form-control-inline" value="0" min="0" max="100" ng-model="reps.assignedPercentOfOneRepMax" required/></td>
                            <td><button class="btn btn-danger btn-responsive" ng-click="deleteSetRow($index)"><span class="glyphicon glyphicon-remove" ></span></button></td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <th><button class="btn btn-success btn-responsive pull-left" ng-click="addSetRow()"><span class="glyphicon glyphicon-plus"></span></button></th>
                    </thead>
                </table>
                <br>

                <div style="left-padding: 20px;">
                    <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="customSet.description"/>
                </div>
            </div>
            </div>
            </div>
            <br>
            <div style="text-align: center;">
                <input type="button" class="btn btn-primary btn-responsive" ng-click="cancelCreate()" value="Cancel"/>
                <input type="submit" class="btn btn-primary btn-responsive" ng-click="createSet(customSet)" value="Save"/><br><br>
            </div>
         </form> 
    </div>

    <div ng-show="creatingPrescription" class="left-aligned row">
        <div style="text-align: center;">
        <button class="btn btn-primary btn-responsive" ng-click="cancelCreate()"><span class="glyphicon glyphicon-arrow-left"></span> Back
        </button><br><br>
        </div>
        <form role="form">
            <div class="col-xs-6 col-md-3">
                <input type="text" class="form-control" placeholder="Prescription Name" ng-model="customPrescription.name" required/>
            </div>
            <br><br><br>

            <div class="panel panel-default">
            <div class="panel-heading">
                <h4><a href ng-click="expandMainSets = !expandMainSets">Main Sets    
                    <span ng-if="!expandMainSets" class="glyphicon glyphicon-download"></span>
                    <span ng-if="expandMainSets" class="glyphicon glyphicon-upload"></span>
                </a></h4>
            </div>
            <div class="panel-body" ng-show="expandMainSets">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pSet in customPrescription.mainLiftSets track by $index">
                            <td>
                                <div class="form-inline">
                                    <select class="selectpicker btn btn-primary dropdown btn-responsive" ng-model="pSet" ng-options="cSet as cSet.name for cSet in sets track by cSet.id"  ng-click="setSelected(pSet, $index)" style="margin-right: 10px; margin-bottom: 10px;">
                                        <option value="">Predefined Sets</option>
                                    </select>
                                    <select class="selectpicker btn btn-primary dropdown btn-responsive" ng-model="pSet.mainLiftDefinition" ng-options="lift as lift.name for lift in lifts track by lift.id" style="margin-right: 10px; margin-bottom: 10px;">
                                        <option value="">Select a Lift</option>
                                    </select>
                                    <input type="text" class="form-control" style="margin-bottom: 10px;" placeholder="Set Name" ng-model="pSet.name"/><br>
                                </div>
                                <br>
                                <div class="table-responsive">
                                <table style="background-color: transparent;">
                                    <thead>
                                        <th class="innerTable">Repetitions</th>
                                        <th>% One Rep Max</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="reps in pSet.mainLifts">
                                            <td class="innerTable"><input type="number" class="form-control form-control-inline" value="0" min="0" ng-model="reps.assignedRepetitions" required/></td>
                                            <td><input type="number" class="form-control form-control-inline" value="0" min="0" max="100" ng-model="reps.assignedPercentOfOneRepMax" required/></td>
                                            <td><button class="btn btn-danger btn-responsive" ng-click="deleteRow($parent.$index, $index)"><span class="glyphicon glyphicon-remove" ></span> Reps</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-success btn-responsive" ng-click="addRow($index)"><span class="glyphicon glyphicon-plus"></span> Reps</button><br><br>
                                <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="pSet.description"/>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-responsive" ng-click="deletePRow($index)"><span class="glyphicon glyphicon-remove"></span> Set</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                        <th><button class="btn btn-success btn-responsive pull-left" ng-click="addPSetRow()"><span class="glyphicon glyphicon-plus"></span> Set</button></th>
                    </thead>
                </table>
                </div>
            </div>
            </div>

            <div class="panel panel-default">
            <div class="panel-heading">
                <h4><a href ng-click="expandAccessory = !expandAccessory">Accessory Lifts     
                    <span ng-if="!expandAccessory" class="glyphicon glyphicon-download"></span>
                    <span ng-if="expandAccessory" class="glyphicon glyphicon-upload"></span>
                </a></h4>
            </div>
            <div class="panel-body" ng-show="expandAccessory">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Lift</th>
                        <th>Category</th>
                        <th>Sets</th>
                        <th>Repetitions</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="accessoryLift in customPrescription.accessoryLifts track by $index">
                            <td>
                                <select class="selectpicker btn btn-primary dropdown btn-responsive" ng-model="accessoryLift.mainLiftDefinition" ng-options="lift as lift.name for lift in lifts track by lift.id">
                                    <option value="">Select a Lift</option>
                                </select>
                            </td>
                            <td><input type="text"   class="form-control form-control-inline" ng-model="accessoryLift.category" /></td>
                            <td><input type="number" class="form-control form-control-inline" ng-model="accessoryLift.assignedSets" required /></td>
                            <td><input type="text"   class="form-control form-control-inline" ng-model="accessoryLift.assignedRepetitions" required /></td>
                            <td><button class="btn btn-danger btn-responsive" ng-click="deleteAccessoryRow($index)"><span class="glyphicon glyphicon-remove"></span></button></td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                        <th><button class="btn btn-success btn-responsive pull-left" ng-click="addAccessoryRow()"><span class="glyphicon glyphicon-plus"></span> Lift</button></th>
                    </thead>
                </table>
                </div>
            </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                <h4><a href ng-click="expandFocus = !expandFocus">Abdominal Focus      
                    <span ng-if="!expandFocus" class="glyphicon glyphicon-download"></span>
                    <span ng-if="expandFocus" class="glyphicon glyphicon-upload"></span>
                </a></h4>
                </div>
                <div class="panel-body" ng-show="expandFocus">
                    <table>
                        <thead>
                            <th><select class="selectpicker btn btn-primary dropdown" ng-model="customPrescription.abdominalFocus" ng-options="focus as focus for focus in abdominalFocuses"></select></th>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Description" name="description" ng-model="customPrescription.description"/>
            </div>
            <br>
            <div style="text-align: center;">
            <input type="button" class="btn btn-primary btn-responsive" ng-click="cancelCreate()" value="Cancel"/>
            <input type="submit" class="btn btn-primary btn-responsive" ng-click="createPrescription(customPrescription)" value="Save"/><br><br>
            </div>
         </form> 
    </div>

    <!-- Success worout modal (pop-up) -->
    <script type="text/ng-template" id="workoutsModal.html"></script>
    <div class="modal fade" id="workoutsModal" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" style="font-weight: bold;">{{modalHeader}}</h3>
                        </div>
                        <div class="modal-footer">
                            <div style="text-align: center;">
                                <button type="button" class="btn btn-success" ng-click="closeWorkoutsModal(success)" data-dismiss="modal">Okay!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>