/* CSS Document */

.main-block {
	margin: auto;
	padding: 10px;
	display: block;
	position: relative;
	text-align: center;
	border: 2px solid #000;
	border-radius: 5px;	
	background: rgb(207, 207, 207);
	background: rgba(207, 207, 207, .7);
}
.top-bar form {
	padding-top: 24px;	
}
