/* CSS Document */

.rounded-block {
	margin: auto;
	display: block;
	position: relative;
	text-align: center;
	border: 2px solid #000;
	border-radius: 20px;	
	background: rgb(207, 207, 207);
	background: rgba(207, 207, 207, .7);
}
.flexible {
    display: -webkit-box;    
    display: -moz-box;        
    display: -ms-flexbox;  
    display: -webkit-flex;  
    display: flex;        
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.error {
	color: red;
	font-weight: bold;
}
input:invalid {
    box-shadow: none;
}
.modal-content, .modal-footer {
    text-align: center;
}

::-webkit-input-placeholder { font-style: italic; }
::-ms-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; }
