/* CSS Document */

html, body {
    height: 100%;
	width: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.center-block {
	float: none;
	display: block;
	margin: 0 auto;
}
.rounded-block {
	float: none;
	display: block;
	margin: 0 auto;
	position: relative;
	vertical-align: middle;
	text-align:: center;
	border: 4px solid #000;
	border-radius: 25px;	
}
.block-content {
	margin: 0 auto;
	text-align: center;	
}