/* CSS Document */

html, body {
  font-family: 'Lucida Sans';
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(left top, rgba(255,255,255), rgba(255,255,255)); /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(bottom right, rgba(255,255,255), rgba(255,255,255)); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(bottom right, rgba(255,255,255), rgba(255,255,255)); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(to bottom right, rgba(255,255,255), rgba(255,255,255)); /* Standard syntax (must be last) */
  /**background-color: #CCCCCC; **/
}

@media (max-width: 768px) {
  h3{
      font-size: 1.3em;
  }
}


@media (max-width: 768px) {
  .bg{
      background:url('../images/back3.jpg') no-repeat center top;
      background-size: 50% 50% cover;
      background-attachment: fixed;
  }
}

@media (min-width: 769px) {
  .bg{
      background:url('../images/back3.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }
}

.col-black {
    background-color: #000;
    height: 100%;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}
.modal-content, .modal-footer {
    text-align: center;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 1em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.3em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

@media (max-width: 768px){
    .navbar-nav{
        text-align: left;
    }
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:10px 20px;
    font-size:90%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) {
  .btn-responsive {
    padding:10px 80px;
    font-size:100%;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .btn-responsive2 {
    padding:10px 40px;
    font-size:100%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) {
  .btn-responsive2 {
    padding:10px 80px;
    font-size:100%;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .btn-responsive3 {
    padding:10px 30px;
    font-size:100%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) {
  .btn-responsive3 {
    padding:10px 40px;
    font-size:100%;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .btn-responsive4 {
    padding:10px 20px;
    font-size:90%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) {
  .btn-responsive4 {
    padding:7px 50px;
    font-size:100%;
    line-height: 1.2;
  }
}

.btn-file {
   position: relative;
   overflow: hidden;
}
.btn-file input[type=file] {
   position: absolute;
   top: 0;
   right: 0;
   min-width: 100%;
   min-height: 100%;
   font-size: 100px;
   text-align: right;
   filter: alpha(opacity=0);
   opacity: 0;
   outline: none;
   background: white;
   cursor: inherit;
   display: block;
}

@media (max-width: 768px) {
  .form-control-inline {
      min-width: 0;
      max-width: 70px;
      width: auto;
      display: inline;
  }
}

@media (max-width: 768px) {
  .form-control-inline2 {
      min-width: 0;
      max-width: 100px;
      width: auto;
      display: inline;
  }
}

/** Nav bar settup **/

.navbar-default {
  background-color: #17171C;
  border-color: #17171C;
}
.navbar-default .navbar-brand {
  color: #daf6fd;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fbf6f6;
}
.navbar-default .navbar-text {
  color: #daf6fd;
}
.navbar-default .navbar-nav > li > a {
  color: #daf6fd;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fbf6f6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fbf6f6;
  background-color: #14186B;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fbf6f6;
  background-color: #14186B;
}
.navbar-default .navbar-toggle {
  border-color: #14186B;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #14186B;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #daf6fd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #daf6fd;
}
.navbar-default .navbar-link {
  color: #daf6fd;
}
.navbar-default .navbar-link:hover {
  color: #fbf6f6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #daf6fd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fbf6f6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbf6f6;
    background-color: #14186B;
  }
}

/** END **/